.screenshot-2024-03-19-at-12282 {
  position: absolute;
  margin-top: -1vh;
  left: -10rem;
  width: 110vw; /* Full viewport width */
  height: 130vh; /* Full viewport height */
  object-fit: cover;
}

.placeholder-graphics-big2 {
  position: absolute;
  height: 39.06%;
  width: 39.5%;
  top: 60.94%;
  right: 0;
  bottom: 0;
  left: 60.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.advertisement2 {
  position: absolute;
  top: 0;
  left: 3.75rem;
  line-height: 120%;
}
.lorem-ipsum-dolor13 {
  position: absolute;
  width: 100%;
  top: 4.613rem;
  left: 0;
  font-size: var(--button-m-size);
  font-weight: 500;
  font-family: var(--font-red-hat-text);
  color: var(--color-darkslategray-100);
  display: inline-block;
  height: 2.481rem;
}
.place-holder-text2 {
  position: absolute;
  width: calc(100% - 368px);
  top: 13.875rem;
  right: 9.75rem;
  left: 13.25rem;
  height: 7.094rem;
}
.placeholder-graphics-small2 {
  position: absolute;
  height: 22.76%;
  width: 19.57%;
  top: 0;
  right: 80.43%;
  bottom: 77.24%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ad-placeholder2 {
  height: 100%;
  width: 61.98%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 38.02%;
  display: none;
}
.ad-placeholder2,
.cevah20,
.hero9 {
  position: absolute;
}
.hero9 {
  top: 5rem;
  left: 5.813rem;
  width: 84rem;
  height: 45.719rem;
  font-family: var(--font-red-hat-display);
}
.cevah20 {
  top: 0;
  left: 2.063rem;
  display: inline-block;
  width: 5.188rem;
  height: 2.063rem;
}
.frame-child20,
.frame-child21 {
  position: absolute;
  border-radius: var(--br-12xs);
  width: 0.525rem;
  height: 1.844rem;
}
.frame-child20 {
  top: 1.319rem;
  left: 0;
  background: linear-gradient(180deg, #3cd0ce, #5ce1df 35.89%, #95fffd);
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.frame-child21 {
  top: 0.131rem;
  left: 0.656rem;
  background: linear-gradient(90deg, #3cd0ce, #6eeae9 65.39%, #75eeed);
}
.cevah-parent8 {
  position: absolute;
  top: 3.25rem;
  left: 6rem;
  width: 7.25rem;
  height: 2.063rem;
  font-size: var(--font-size-5xl);
  font-family: var(--font-ibm-plex-sans);
}
.lorem-ipsum-dolor14 {
  position: absolute;
  top: 5.813rem;
  left: 6rem;
  display: flex;
  align-items: center;
  width: 14.25rem;
  height: 4.188rem;
}
.social-icons30,
.social-icons31,
.social-icons32 {
  position: absolute;
  top: 12.25rem;
  left: 10.813rem;
  width: 1.438rem;
  height: 1.438rem;
  overflow: hidden;
}
.social-icons31,
.social-icons32 {
  left: 8.438rem;
  width: 1.375rem;
}
.social-icons32 {
  left: 6rem;
  width: 1.438rem;
}
.contact-us10,
.support10 {
  position: absolute;
  top: 3.313rem;
  left: 25.875rem;
  font-size: var(--button-m-size);
  font-weight: 600;
}
.support10 {
  left: 39.125rem;
}
.hellocevahgmailcom10 {
  position: absolute;
  top: 0.063rem;
  left: 1.5rem;
}
.envelope-icon10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.125rem;
  height: 1.125rem;
  overflow: hidden;
}
.hellocevahgmailcom-parent8 {
  position: absolute;
  top: 7.688rem;
  left: 25.875rem;
  width: 9.688rem;
  height: 1.125rem;
  font-family: var(--font-red-hat-text);
}
.privacy-policy10,
.terms-of-use10 {
  position: absolute;
  top: 7.688rem;
  left: 39.125rem;
}
.privacy-policy10 {
  top: 9.563rem;
}
.div16 {
  position: absolute;
  top: 0;
  left: 1.5rem;
}
.vector-icon19 {
  position: absolute;
  height: 87.65%;
  width: 11.31%;
  top: 11.76%;
  right: 88.69%;
  bottom: 0.59%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.faqs10,
.parent12 {
  position: absolute;
  top: 5.813rem;
}
.parent12 {
  left: 25.875rem;
  width: 7.625rem;
  height: 1.063rem;
  font-family: var(--font-red-hat-text);
}
.faqs10 {
  left: 39.125rem;
}
.footer10 {
  position: absolute;
  top: 49.688rem;
  left: 0;
  background-color: var(--color-darkslategray-200);
  width: 100%;
  height: 16.938rem;
  font-size: var(--font-size-smi);
  color: var(--white);
}
.group-child27 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2),
    -4px -4px 20px rgba(154, 154, 154, 0.2);
  border-radius: var(--br-xl);
  background-color: var(--white);
  width: 33.125rem;
  height: 39rem;
}
.enter-project-address,
.tell-us-about8 {
  position: absolute;
  left: 3.188rem;
  letter-spacing: -0.02em;
  line-height: 120%;
}

.enter-project-address {
  top: 7.75rem;
  font-size: var(--button-m-size);
  color: var(--color-gray-200);
}
.tell-us-about8 {
  top: 4.875rem;
  font-weight: 600;
}
.group-child28 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-darkslategray-200);
  height: 0.313rem;
}
.status-bar-child,
.status-bar-inner {
  position: absolute;
  width: calc(100% - 269px);
  top: 0;
}
.status-bar-inner {
  right: 16.813rem;
  left: 0;
  height: 0.313rem;
}
.status-bar-child {
  right: 0;
  left: 16.813rem;
  background-color: var(--color-gainsboro-200);
  height: 0.306rem;
}
.status-bar-child,
.status-bar-inner {
  position: absolute;
  width: calc(100% - 269px);
  top: 0;
}
.group-child28 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-darkslategray-200);
  height: 0.313rem;
}
.status-bar,
.status-bar-item {
  position: absolute;
  height: 0.313rem;
}
.status-bar-item {
  width: calc(100% - 400px);
  top: 0;
  right: 8.188rem;
  left: 16.813rem;
  background-color: var(--color-darkslategray-200);
}
.status-bar {
  width: 100%;
  top: 32.813rem;
  right: 0;
  left: 0;
}
.continue {
  position: absolute;
  width: calc(100% - 334px);
  top: 34.75rem;
  right: 1.438rem;
  left: 19.438rem;
  cursor: pointer;
}
.back-btn,
.rectangle-parent4 {
  position: absolute;
  color: var(--color-gray-100);
}
.back-btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 35.625rem;
  left: 2.5rem;
  font-size: var(--caption-m-size);
  text-decoration: underline;
  letter-spacing: 0.02em;
  line-height: 120%;
  font-family: var(--font-inter);
  text-align: left;
  display: inline-block;
}
.rectangle-parent4 {
  top: 7.188rem;
  left: 6rem;
  width: 33.125rem;
  height: 39rem;
  font-size: var(--font-size-13xl);
}
.desktop-107-child,
.desktop-107-inner,
.desktop-107-item,
.group-textfield {
  border: 0;
  background-color: transparent;
  position: absolute;
  width: 25rem;
  top: 18.625rem;
  right: 55.5rem;
  left: 9.188rem;
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: var(--font-size-sm);
  color: var(--color-silver);
}
.desktop-107-inner,
.desktop-107-item,
.group-textfield {
  top: 23.188rem;
  color: var(--color-gray-300);
}
.desktop-107-inner,
.group-textfield {
  top: 27.75rem;
}
.group-textfield {
  top: 32.313rem;
}
.icon-child18,
.icon-child19 {
  position: absolute;
  border-radius: var(--br-12xs);
}
.icon-child18 {
  top: 1.188rem;
  left: 0;
  background: linear-gradient(180deg, #3cd0ce, #5ce1df 35.89%, #95fffd);
  width: 0.525rem;
  height: 1.888rem;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.icon-child19 {
  top: 0;
  left: 0.675rem;
  background: linear-gradient(90deg, #3cd0ce, #6eeae9 65.39%, #75eeed);
  width: 0.538rem;
  height: 1.844rem;
}
.cevah21,
.icon10 {
  width: 1.888rem;
  position: relative;
  height: 1.844rem;
}
.cevah21 {
  width: 5.306rem;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-ibm-plex-sans);
  color: var(--color-black);
  text-align: left;
  height: 2.063rem;
  flex-shrink: 0;
}
.logo10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.navigation10 {
  width: 6.356rem;
  height: 2.125rem;
}
.content16 {
  position: absolute;
  top: 1.063rem;
  left: 5.988rem;
  width: 77.988rem;
  height: 2.313rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-941xl);
}
.jd7 {
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--white);
  text-align: left;
}
.login9 {
  cursor: pointer;
  border: 1px solid var(--color-darkturquoise);
  padding: var(--padding-3xs);
  background-color: var(--color-darkturquoise);
  position: absolute;
  top: 0.625rem;
  left: 81.813rem;
  border-radius: var(--br-81xl);
  box-sizing: border-box;
  width: 3rem;
  height: 3.125rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.desktop-107,
.header9 {
  background-color: var(--white);
}
.header9 {
  position: absolute;
  top: 0;
  left: calc(50% - 50vw);
  box-shadow: 0 4px 20px rgba(249, 249, 249, 0.25);
  width: 100%;
  height: 4.063rem;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-ibm-plex-sans);
}
.desktop-107 {
  width: 100%;
  position: relative;
  height: auto;
  min-height: 66.625rem;
  overflow: hidden;
  text-align: left;
  padding: 1rem;
  margin: 0 auto;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.user-icon100 {
  position: absolute;
  overflow: hidden;
}
.user-icon100 {
  top: 1.25rem;
  left: 82.375rem;
  width: 1.813rem;
  height: 1.813rem;
  color: black;
}
.back-btn,
.continue {
  position: absolute;
  cursor: pointer;
}

@media only screen and (max-width: 758px){

  .user-icon100 {
    top: 1.25rem;
    left: 92.5vw;
    width: 1.813rem;
    height: 1.813rem;
    color: black;
  }
  .desktop-107 {
    font-size: 1rem; 
    padding: 0.5rem; 
    min-height: 100vh; 
    background-color: white;
  }
  .header9 {
    position: absolute;
    top: 0;
    left: -18vw;
     box-shadow: 0 4px 20px rgba(249, 249, 249, 0.25); 
    width: 90rem;
    height: 4.063rem;
  }  
  .login9 {
    cursor: pointer;
    border: 1px solid var(--color-darkturquoise);
    padding: var(--padding-3xs);
    background-color: var(--color-darkturquoise);
    position: absolute;
    top: 0.625rem;
    left: 90vw;
    border-radius: var(--br-81xl);
    box-sizing: border-box;
    width: 3rem;
    height: 3.125rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .group-child27 {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: none;
    border-radius: var(--br-xl);  
    background-color: white;
    width: 33.125rem;
    height: 39rem;
  }
  .rectangle-parent4 {
    top: 7.188rem;
    left: 2rem;
    width: 33.125rem;
    height: 39rem;
    font-size: var(--font-size-13xl);
    background-color: white;
  }
  .hero9 {
    top: 2rem;
    left: 5.813vw;
    width: 84vw;
    height: 45.719rem;
    font-family: var(--font-red-hat-display);
    background-color: white;
  }

  .rectangle-parent4 {
    top: 3.188rem;
    left: -10vw;
    width: 110.125vw;
    height: 20rem;
    font-size: var(--font-size-13xl);
  }
  .enter-project-address,
.tell-us-about8 {
  position: absolute;
  left: 3.188rem;
  letter-spacing: -0.02em;
  line-height: 120%;
}

.enter-project-address {
  top: 10.75rem;
  left: 20vw;
  font-size: var(--button-m-size);
  color: var(--color-gray-200);
}
.desktop-107-child,
.desktop-107-inner,
.desktop-107-item,
.group-textfield {
  border: 0;
  background-color: transparent;
  position: absolute;
  width: 80vw;
  top: 15.625rem;
  right: 55.5rem;
  left: 9.188vw;
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: var(--font-size-sm);
  color: var(--color-silver);
}
.desktop-107-inner,
.desktop-107-item,
.group-textfield {
  top: 20.188rem;
  color: var(--color-gray-300);
}
.desktop-107-inner,
.group-textfield {
  top: 24.75rem;
}
.group-textfield {
  top: 29.313rem;
}
.status-bar-item {
  position: absolute;
  height: 0;
}
.status-bar-item {
  width: o;
  top: 0;
  right: 8.188rem;
  left: 16.813rem;
  background-color: var(--color-darkslategray-200);
}
.status-bar-child {
  right: 0;
  left: 16.813rem;
  background-color: var(--color-gainsboro-200);
  height: 0;
}
.group-child28 {
  position: absolute;
  width: 0;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-darkslategray-200);
  height: 0.313rem;
}
.back-btn {
  top: 33.25rem;
  left: 4rem;
  font-size: 1.7rem;
  text-decoration: underline;
  letter-spacing: 0.02em;
  line-height: 120%;
}

.continue {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-13xl);
  background-color: var(--color-darkturquoise);
  position: absolute;
  width: 50vw;
  top: 32.25rem;
  right: 0;
  left: 50vw;
  border-radius: var(--br-3xs);
  height: 3.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 1.2rem;
}
.screenshot-2024-03-19-at-12282 {
  position: absolute;
  top: -2rem;
  left: -10rem;
  width: 0;
  height: 106%;
}


}

@media screen and (min-height: 740px) and (max-width: 758px) {
  .footer10{
    display: none;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1600px) {
  /* Your CSS rules here */
  .screenshot-2024-03-19-at-12282 {
    position: absolute;
    top: -1rem;
    left: -10rem;
    width: 110vw; /* Full viewport width */
    height: 130vh; /* Full viewport height */
    object-fit: cover; /* Ensures the image covers the area */
  }
  .desktop-107 {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Ensures no overflow */
  }
}
@media screen and (min-width: 1601px) {
  /* Your CSS rules here */
  .screenshot-2024-03-19-at-12282 {
    position: absolute;
    top: -10rem;
    left: -10rem;
    width: 110vw; /* Full viewport width */
    height: 130vh; /* Full viewport height */
    object-fit: cover; /* Ensures the image covers the area */
  }
}