.caption2 {
  width: 38.25rem;
  position: relative;
  letter-spacing: 3px;
  line-height: 100%;
  text-transform: uppercase;
  display: none;
  color: var(--blue-gray-600);
}
.ad-placeholder-icon83 {
  position: absolute;
  top: -3rem;
  left: -10rem;
  width: 120%;
  height: 108%;
  z-index: 0; /* Ensure the ad is on top */
  opacity: 1;
}
.main-headline2,
.secondary-headline2 {
  position: relative;
  line-height: 110%;
  font-weight: 800;
}
.main-headline2 {
  width: 42.063rem;
  font-size: var(--font-size-53xl);
  font-family: var(--font-inter);
  display: inline-block;
}
.secondary-headline2 {
  width: 44.25rem;
  font-size: var(--heading-2-size);
  display: none;
}
.top3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--caption-m-size);
}
.paragraph2 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-family: var(--font-red-hat-text);
}
.icon-jam-icons-outline-l8 {
  width: 1.5rem;
  position: relative;
  height: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.get-started3 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
}
.button3,
.text-container4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-5xl);
}
.button3 {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-5xs);
  background-color: var(--color-darkturquoise);
  border: 2px solid var(--color-darkturquoise);
  padding: var(--padding-xl) var(--padding-5xl);
}
.button-text2 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  font-weight: 500;
}
.text-container5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-base);
}
.icon-jam-icons-outline-l11 {
  width: 1.5rem;
  position: relative;
  height: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
}
.button-22 {
  border-radius: var(--br-5xs);
  border: 2px solid var(--blue-600);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
  font-size: var(--button-m-size);
  color: var(--blue-600);
}
.buttons-group2,
.hero-text2 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.buttons-group2 {
  flex-direction: row;
  align-items: center;
  color: var(--white);
}
.hero-text2 {
  position: absolute;
  top: 7.688rem;
  left: 0;
  width: 38.25rem;
  flex-direction: column;
  align-items: flex-start;
}
.hero-child13 {
  position: absolute;
  top: -1.25rem;
  left: -6rem;
  background-color: var(--color-gray-400);
  width: 100rem;
  height: 45.688rem;
}
.content-child21 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2),
    -4px -4px 20px rgba(154, 154, 154, 0.2);
  border-radius: var(--br-3xs);
  background-color: var(--white);
  width: 33.125rem;
  height: 38.188rem;
}
.group-child37 {
  position: absolute;
  top: 27.313rem;
  left: calc(50% - 199px);
  cursor: pointer;
  width: 20rem;
  background-color: var(--color-darkturquoise);

}
.frame-container {
  position: absolute;
  top: 3.563rem;
  left: calc(50% - 200px);
  width: 24.875rem;
  height: 31.063rem;
}
.phone-number2 {
  position: absolute;
  top: 3.875rem;
  left: 0.375rem;
  line-height: 125%;
  display: flex;
  align-items: flex-end;
  width: 20.875rem;
}
.error-message2 {
  position: absolute;
  top: 31.79%;
  left: 1.51%;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-100);
}
.login-or-sign2,
.phno {
  position: absolute;
  left: 0;
}
.phno {
  border: 1px solid var(--color-black);
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--button-m-size);
  background-color: transparent;
  top: 5.625rem;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 23.375rem;
  height: 3.75rem;
  padding: 1.375rem 1.125rem 1.187rem;
  color: var(--color-black);
  cursor: pointer;
}
.login-or-sign2 {
  top: 0;
  font-size: var(--font-size-13xl);
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
  color: var(--color-gray-200);
}

.content28 {
  position: absolute;
  top: 2.5rem;
  left: 4.438rem;
  width: 33.125rem;
  height: 38.188rem;
  font-size: var(--button-m-size);
  color: var(--color-gray-500);
  font-family: var(--font-inter);
}
.hero16 {
  position: absolute;
  top: 5.25rem;
  left: 6rem;
  width: 84rem;
  height: 45.719rem;
}
.cevah34 {
  position: absolute;
  top: 0;
  left: 2.063rem;
  display: inline-block;
  width: 5.188rem;
  height: 2.063rem;
}
.frame-child35,
.frame-child36 {
  position: absolute;
  border-radius: var(--br-12xs);
  width: 0.525rem;
  height: 1.844rem;
}
.frame-child35 {
  top: 1.319rem;
  left: 0;
  background: linear-gradient(180deg, #3cd0ce, #5ce1df 35.89%, #95fffd);
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.frame-child36 {
  top: 0.131rem;
  left: 0.656rem;
  background: linear-gradient(90deg, #3cd0ce, #6eeae9 65.39%, #75eeed);
}
.cevah-parent15 {
  position: absolute;
  top: 3.25rem;
  left: 6rem;
  width: 7.25rem;
  height: 2.063rem;
  font-size: var(--font-size-5xl);
  font-family: var(--font-ibm-plex-sans);
}
.lorem-ipsum-dolor21 {
  position: absolute;
  top: 5.813rem;
  left: 6rem;
  display: flex;
  align-items: center;
  width: 14.25rem;
  height: 4.188rem;
}
.social-icons51,
.vector-icon26 {
  position: absolute;
  overflow: hidden;
}
.vector-icon26 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.social-icons51 {
  text-decoration: none;
  top: 12.25rem;
  left: 10.813rem;
  width: 1.438rem;
  height: 1.438rem;
}
.vector-icon28,
.vector-icon29 {
  position: absolute;
  height: 51.3%;
  width: 51.36%;
  top: 24.35%;
  right: 24.55%;
  bottom: 24.35%;
  left: 24.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon29 {
  height: 12.17%;
  width: 11.82%;
  top: 17.39%;
  right: 17.27%;
  bottom: 70.43%;
  left: 70.91%;
}
.social-icons52 {
  text-decoration: none;
  top: 12.25rem;
  left: 8.438rem;
  width: 1.375rem;
  height: 1.438rem;
}
.social-icons52,
.social-icons53,
.vector-icon30 {
  position: absolute;
  overflow: hidden;
}
.vector-icon30 {
  height: 99.57%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0.43%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.social-icons53 {
  text-decoration: none;
  top: 12.25rem;
  left: 6rem;
  width: 1.438rem;
  height: 1.438rem;
}
.contact-us17,
.support17 {
  position: absolute;
  top: 3.313rem;
  left: 25.875rem;
  font-size: var(--button-m-size);
  font-weight: 600;
}
.support17 {
  left: 39.125rem;
}
.hellocevahgmailcom17 {
  position: absolute;
  top: 0.063rem;
  left: 1.5rem;
}
.envelope-icon17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.125rem;
  height: 1.125rem;
  overflow: hidden;
}
.hellocevahgmailcom-parent15 {
  position: absolute;
  top: 7.688rem;
  left: 25.875rem;
  width: 9.688rem;
  height: 1.125rem;
  font-family: var(--font-red-hat-text);
}
.privacy-policy17,
.terms-of-use17 {
  position: absolute;
  top: 7.688rem;
  left: 39.125rem;
}
.privacy-policy17 {
  top: 9.563rem;
}
.div24 {
  position: absolute;
  top: 0;
  left: 1.5rem;
}
.vector-icon31 {
  position: absolute;
  height: 87.65%;
  width: 11.31%;
  top: 11.76%;
  right: 88.69%;
  bottom: 0.59%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.faqs17,
.parent19 {
  position: absolute;
  top: 5.813rem;
}
.parent19 {
  left: 25.875rem;
  width: 7.625rem;
  height: 1.063rem;
  font-family: var(--font-red-hat-text);
}
.faqs17 {
  left: 39.125rem;
}
.footer17 {
  position: absolute;
  top: 49.688rem;
  left: 0;
  background-color: var(--color-darkslategray-200);
  width: 100%;
  height: 16.938rem;
  font-size: var(--font-size-smi);
  color: var(--white);
  font-family: var(--font-inter);
}
.icon-child32,
.icon-child33 {
  position: absolute;
  border-radius: var(--br-12xs);
}
.icon-child32 {
  top: 1.188rem;
  left: 0;
  background: linear-gradient(180deg, #3cd0ce, #5ce1df 35.89%, #95fffd);
  width: 0.525rem;
  height: 1.888rem;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.icon-child33 {
  top: 0;
  left: 0.675rem;
  background: linear-gradient(90deg, #3cd0ce, #6eeae9 65.39%, #75eeed);
  width: 0.538rem;
  height: 1.844rem;
}
.cevah35,
.icon19 {
  width: 1.888rem;
  position: relative;
  height: 1.844rem;
}
.cevah35 {
  width: 5.306rem;
  display: inline-block;
  height: 2.063rem;
  flex-shrink: 0;
  top: -0.5rem;
}
.logo17 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  cursor: pointer;
}
.navigation17 {
  width: 6.356rem;
  height: 2.125rem;
}
.content29 {
  position: absolute;
  top: 1.063rem;
  left: 5.988rem;
  width: 77.988rem;
  height: 2.313rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-874xl);
}
.sign-in3 {
  position: relative;
  font-size: var(--button-m-size);
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--white);
  text-align: left;
}
.login16 {
  cursor: pointer;
  border: 1px solid var(--color-darkturquoise);
  padding: var(--padding-3xs) var(--padding-13xl);
  background-color: var(--color-darkturquoise);
  position: absolute;
  top: 0.688rem;
  left: 77.688rem;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  width: 8.375rem;
  height: 2.688rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.desktop-83,
.header16 {
  background-color: var(--white);
}
.header16 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  box-shadow: 0 4px 20px rgba(249, 249, 249, 0.25);
  width: 90rem;
  height: 4.063rem;
  color: var(--color-black);
  font-family: var(--font-ibm-plex-sans);
}
.desktop-83 {
 max-width: 1600px; /* Limit the maximum width to 1440px */
  width: 100%;
  position: relative;
  height: auto;
  min-height: 66.625rem;
  overflow: hidden;
  text-align: left;
  padding: 1rem;
  margin: 0 auto;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}



@media only screen and (max-width: 758px){


  .desktop-83 {
    font-size: 1rem; 
    padding: 0.5rem; 
    min-height: 100vh; 
  }


  .login16 {
    cursor: pointer;
    border: 1px solid var(--color-darkturquoise);
    padding: var(--padding-3xs) var(--padding-13xl);
    background-color: var(--color-darkturquoise);
    position: absolute;
    top: 0.688rem;
    left: 77.688vw;
    border-radius: var(--br-5xs);
    box-sizing: border-box;
    width: 8.375rem;
    height: 2.688rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .cevah35,
.icon19 {
  position: absolute;
  width: 1.888vw;
  position: relative;
  height: 1.844rem;
  left: 0vw;
  right: 4vw;
  font-size: 8vw;
}

.cevah35 {
  width: 5.306rem;
  display: inline-block;
  height: 2.063rem;
  flex-shrink: 0;
  top: -0.5rem;
  margin-left: 2rem;
  font-size: 2rem;
  
}

.logo17 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  cursor: pointer;
  left: 4vw;
  width: 5vw;
  margin-right: 1vw;

}

/* .login16 {
  cursor: pointer;
  border: 1px solid var(--color-darkturquoise);
  padding: var(--padding-3xs) var(--padding-13xl);
  background-color: var(--color-darkturquoise);
  position: absolute;
  top: 0.688rem;
  right: 2vw;
  left: 70.688vw;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  width: 8.375vw;
  height: 20.688vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sign-in3 {
  position: relative;
  font-size: var(--button-m-size);
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--white);
  text-align: left;
  left: 10vw;
} */

.header16 {
  position: absolute;
  top: 0;
  left: -4rem;
  box-shadow: 0 4px 20px rgba(249, 249, 249, 0.25);
  width: 90vw;
  height: 4.063vw;
  color: var(--color-black);
  font-family: var(--font-ibm-plex-sans);
  margin-right: 1vw;
}

/* .hero-child13 {
  position: absolute;
  top: -1.25rem;
  left: -6rem;
  background-color: var(--color-gray-400);
  width: 100rem;
  height: 45.688rem;

.content-child21 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2),
    -4px -4px 20px rgba(154, 154, 154, 0.2);
  border-radius: var(--br-3xs);
  background-color: var(--white);
  width: 33.125rem;
  height: 38.188rem;
}

.content28 {
  position: absolute;
  top: 2.5rem;
  left: 22.438rem;
  width: 33.125rem;
  height: 38.188rem;
  font-size: var(--button-m-size);
  color: var(--color-gray-500);
  font-family: var(--font-inter);
} */

.hero-child13 {
  position: absolute;
  top: -1.25rem;
  left: -5rem;
  background-color: white;
  width: 100vw;
  height: 45.688rem;
  box-shadow: none;
}
.content-child21 {
  position: absolute;
  top: 0;
  left: 0rem;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2),
    -4px -4px 20px rgba(154, 154, 154, 0.2);
  border-radius: var(--br-3xs);
  background-color: white;
  width: 0%;
  height: 38.188vw;
}  
.content28 {
  position: absolute;
  top: 2.5rem;
  left: 0.438rem;
  width: 20.125vw;
  height: 38.188vw;
  font-size: var(--button-m-size);
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}


/* .phone-number2 {
  position: absolute;
  top: 3.875rem;
  left: 0.375rem;
  line-height: 125%;
  display: flex;
  align-items: flex-end;
  width: 20.875rem;
}
.error-message2 {
  position: absolute;
  top: 31.79%;
  left: 1.51%;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-100);
}
.login-or-sign2,
.phno {
  position: absolute;
  left: 0;
}
.phno {
  border: 1px solid var(--color-black);
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--button-m-size);
  background-color: transparent;
  top: 5.625rem;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 23.375rem;
  height: 3.75rem;
  padding: 1.375rem 1.125rem 1.187rem;
  color: var(--color-black);
  cursor: pointer;
}
.login-or-sign2 {
  top: 0;
  font-size: var(--font-size-13xl);
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
  color: var(--color-gray-200);
} */







.login-or-sign2,
    .or1 {
      position: absolute;
      top: 0;
      font-weight: 600;
      width: 80vw;
    }
    .login-or-sign2 {
      left: 5rem;
      font-size: var(--font-size-13xl);
      letter-spacing: -0.02em;
      line-height: 120%;
      color: var(--color-gray-300);
    }

    .phone-number2 {
      position: absolute;
      top: 3.875rem;
      left: 5rem;
      line-height: 125%;
      color: var(--color-gray-500);
      display: flex;
      align-items: flex-end;
      width: 20.875rem;
    }
    .ad-placeholder-icon83 {
      position: absolute;
      top: -3rem;
      left: -10rem;
      width: 0;
      height: 108%;
      z-index: 0; /* Ensure the ad is on top */
      opacity: 1;
    }
    .error-message2 {
      position: absolute;
      top: 30.92%;
      left: 5rem;
      font-size: var(--font-size-sm);
      color: var(--color-dimgray);
    }
    .phno {
      border: 1px solid var(--color-black);
      outline: 0;
      font-family: var(--font-inter);
      font-size: var(--button-m-size);
      background-color: transparent;
      position: absolute;
      top: 5.625rem;
      left: 5rem;
      border-radius: var(--br-3xs);
      box-sizing: border-box;
      width: 80.375vw;
      height: 3.75rem;
      padding: 1.375rem 1.125rem 1.187rem;
      color: var(--color-black);
      cursor: pointer;
    }

    
    .group-child37 {
      position: absolute;
      top: 20rem;
      left: 40vw;
      cursor: pointer;
      width: 60vw;
      background-color: var(--color-darkturquoise);

    }
   
    

  


}
/* @media screen and (min-height: 700px) {
  .footer17{
    display: none;
  }
} */


@media screen and (min-height: 740px) and (max-width: 758px) {
  .footer17{
    display: none;
  }
}