

.cevah {
  position: absolute;
  top: 0;
  left: 2.063rem;
  display: inline-block;
  width: 5.188rem;
  height: 2.063rem;
}
.frame-child,
.frame-item {
  position: absolute;
  border-radius: var(--br-12xs);
  width: 0.525rem;
  height: 1.844rem;
}
.frame-child {
  top: 1.319rem;
  left: 0;
  background: linear-gradient(180deg, #3cd0ce, #5ce1df 35.89%, #95fffd);
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.frame-item {
  top: 0.131rem;
  left: 0.656rem;
  background: linear-gradient(90deg, #3cd0ce, #6eeae9 65.39%, #75eeed);
}
.cevah-parent {
  position: absolute;
  top: 3.25rem;
  left: 6rem;
  width: 7.25rem;
  height: 2.063rem;
  font-size: var(--font-size-5xl);
  font-family: var(--font-ibm-plex-sans);
}
.at-cevah-our {
  position: absolute;
  top: 5.813rem;
  left: 6rem;
  font-size: 0.813rem;
  line-height: 120%;
  display: flex;
  align-items: center;
  width: 14.25rem;
  height: 4.188rem;
}
.social-icons,
.vector-icon {
  position: absolute;
  overflow: hidden;
}
.vector-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.social-icons {
  text-decoration: none;
  top: 11rem;
  left: 10.813rem;
  width: 1.438rem;
  height: 1.438rem;
}
.vector-icon2,
.vector-icon3 {
  position: absolute;
  height: 51.3%;
  width: 51.3%;
  top: 24.35%;
  right: 24.35%;
  bottom: 24.35%;
  left: 24.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon3 {
  height: 12.17%;
  width: 12.17%;
  top: 17.39%;
  right: 16.96%;
  bottom: 70.43%;
  left: 70.87%;
}
.social-icons1 {
  text-decoration: none;
  top: 11rem;
  left: 8.438rem;
  width: 1.438rem;
  height: 1.438rem;
}
.social-icons1,
.social-icons2,
.vector-icon4 {
  position: absolute;
  overflow: hidden;
}
.vector-icon4 {
  height: 99.57%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0.43%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.social-icons2 {
  text-decoration: none;
  top: 11rem;
  left: 6rem;
  width: 1.438rem;
  height: 1.438rem;
}
.contact-us,
.support {
  position: absolute;
  top: 3.313rem;
  left: 25.875rem;
  font-size: var(--font-size-base);
  font-weight: 600;
}
.support {
  left: 39.125rem;
}
.privacy-policy,
.terms-of-use {
  position: absolute;
  top: 5.813rem;
  left: 39.125rem;
}
.privacy-policy {
  top: 7.375rem;
}
.cevah9gmailcom {
  position: absolute;
  top: 0;
  left: 1.125rem;
}
.vector-icon5 {
  position: absolute;
  height: 62.94%;
  width: 9.52%;
  top: 29.41%;
  right: 90.48%;
  bottom: 7.65%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cevah9gmailcom-parent {
  position: absolute;
  top: 7.375rem;
  left: 25.875rem;
  width: 9.188rem;
  height: 1.063rem;
}
.vector-icon6 {
  position: absolute;
  height: 82.35%;
  width: 10.69%;
  top: 11.76%;
  right: 89.31%;
  bottom: 5.88%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parent {
  position: absolute;
  top: 5.813rem;
  left: 25.875rem;
  width: 8.188rem;
  height: 1.063rem;
}
.illustrations-from-storyset {
  position: absolute;
  top: 14.875rem;
  left: calc(50% - 624px);
  font-size: 0.688rem;
  display: flex;
  align-items: center;
  width: 80.313rem;
}
.footer-final {
  position: absolute;
  top: 219.813rem;
  left: 0;
  background-color: var(--color-darkslategray-200);
  width: 100rem;
  height: 16.938rem;
  font-size: var(--font-size-sm);
  color: white;
}
.rectangle-icon {
  position: absolute;
  right: 0;
  bottom: -1.687rem;
  width: 24.125rem;
  height: 25.875rem;
  object-fit: cover;
}
.frame-inner {
  position: absolute;
  height: 1.44%;
  width: 3.76%;
  top: 94%;
  right: 48.12%;
  bottom: 4.57%;
  left: 48.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.affordable-air-purifier {
  margin: 0;
}
.awaercom {
  font-weight: 500;
  font-family: var(--font-inter);
}
.affordable-air-purifier-container,
.discover-simple-and {
  position: absolute;
  top: 8.125rem;
  left: 4.125rem;
  display: inline-block;
  width: 67.313rem;
}
.discover-simple-and {
  top: 3.563rem;
  font-size: var(--font-size-29xl);
  font-family: var(--font-pragmatica);
  color: #032651;
  width: 78.375rem;
}
.group-icon,
.rectangle-parent {
  position: absolute;
  overflow: hidden;
}
.group-icon {
  height: 4.81%;
  width: 7.24%;
  top: 6.96%;
  right: 2.94%;
  bottom: 88.23%;
  left: 89.82%;
  max-width: 100%;
  max-height: 100%;
}
.rectangle-parent {
  top: 193.688rem;
  left:0;
  background-color: #b8dbf7;
  width: 100rem;
  height: 26.125rem;
  font-size: var(--font-size-13xl);
}
.what-our-do-final {
  position: absolute;
  top: 0;
  left: 3.125rem;
  letter-spacing: -0.01em;
  line-height: 120%;
  font-weight: 600 !important;
}
.group-child {
  position: absolute;
  top: 0.875rem;
  left: 0;
  background-color: var(--color-mediumturquoise-100);
  width: 1.875rem;
  height: 1.875rem;
}
.what-our-do-our-clients-say-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 43.5rem;
  height: 3.625rem;
}
.group-inner,
.group-item {
  position: absolute;
  top: 4.938rem;
  left: 23rem;
  border-radius: var(--br-xl);
  background-color: var(--color-lightgray);
  width: 46.813rem;
  height: 24rem;
}
.group-inner {
  left: 46.813rem;
  top: 29rem;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.group-child1,
.rectangle-div-final {
  top: 2.313rem;
  background-color: var(--color-gainsboro-100);
  width: 46.875rem;
  height: 29.375rem;
}
.rectangle-div-final {
  position: absolute;
  left: 18.875rem;
  border-radius: var(--br-xl);
}
.group-child1 {
  left: 52.125rem;
  top: 32rem;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.group-child1,
.group-child2,
.group-child3 {
  position: absolute;
  border-radius: var(--br-xl);
}
.group-child2 {
  top: 0;
  left: 12.438rem;
  background-color: #f4f4f4;
  width: 46.813rem;
  height: 34rem;
}
.group-child3 {
  top: 2.313rem;
  left: 14.813rem;
  background-color: #d9d9d9;
  width: 16.294rem;
  height: 16.294rem;
}
.rectangle-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 69.813rem;
  height: 34rem;
}
.dr-xyz-abcd,
.lorem-ipsum-dolor {
  position: absolute;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 120%;
}
.lorem-ipsum-dolor {
  top: 3rem;
  display: inline-block;
  width: 40.75rem;
  height: 7.25rem;
}
.dr-xyz-abcd {
  top: 0;
  font-size: 2.25rem;
  font-weight: 500;
}
.group-container,
.lorem-ipsum-dolor-sit-amet-lo-parent {
  position: absolute;
  top: 20.938rem;
  left: 14.813rem;
  width: 40.75rem;
  height: 10.25rem;
}
.group-container {
  top: 6.875rem;
  left: 3.938rem;
  width: 69.813rem;
  height: 34rem;
  font-size: var(--font-size-5xl);
  font-family: var(--font-pragmatica);
}
.group-parent,
.why-choose-cevah {
  position: absolute;
  color: var(--color-gray-100);
}
.group-parent {
  top: 149.5rem;
  left: 8.125rem;
  width: 73.75rem;
  height: 40.875rem;
  font-weight: 0rem;
  font-size: 600;
}
.why-choose-cevah {
  top: 0;
  left: calc(50% - 579px);
  font-size: var(--font-size-13xl);
  letter-spacing: -0.01em;
  line-height: 120%;
  font-weight: 600;
}
.group-child4 {
  position: absolute;
  top: 0.25rem;
  left: calc(50% - 624px);
  background-color: var(--color-mediumturquoise-100);
  width: 1.875rem;
  height: 1.875rem;
}
.break-through-barriers {
  position: absolute;
  top: 3.563rem;
  left: calc(50% - 621px);
  letter-spacing: -0.02em;
  line-height: 120%;
  display: inline-block;
  width: 77.563rem;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslategray);
  width: 77.625rem;
}
.div1-final,
.our-online-tools,
.tailored-solutions {
  position: absolute;
  letter-spacing: -0.01em;
  line-height: 120%;
}
 .div1-final {
  top: 0;
  left: 0;
  font-weight: 800;
} 
.our-online-tools,
.tailored-solutions {
  display: inline-block;
}
.our-online-tools {
  top: 3rem;
  left: 5.688rem;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  width: 38.25rem;
  height: 3.813rem;
}
.tailored-solutions {
  top: 0;
  left: 5.7rem;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-100);
  width: 19.919rem;
  height: 2.819rem;
}
.group {
  position: absolute;
  top: 10.875rem;
  left: 0;
  width: 43.938rem;
  height: 6.813rem;
}
.innovative-approach-final,
.with-our-innovative {
  position: absolute;
  letter-spacing: -0.01em;
  line-height: 120%;
  display: inline-block;
}
.with-our-innovative {
  top: 2.994rem;
  left: 5.688rem;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  width: 38.25rem;
  height: 5.813rem;
}
.innovative-approach-final {
  top: 0;
  left: 5.7rem;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-100);
  width: 22.919rem;
  height: 2.819rem;
}
.landing-container {
  position: absolute;
  top: 19.563rem;
  left: 0;
  width: 43.938rem;
  height: 8.806rem;
}
.personalized-assistance,
.receive-personalized-guidance-final {
  position: absolute;
  letter-spacing: -0.01em;
  line-height: 120%;
  display: inline-block;
}
.receive-personalized-guidance-final {
  top: 3.188rem;
  left: 5.688rem;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  width: 38.25rem;
  height: 5.813rem;
}
.personalized-assistance {
  top: 0;
  left: 5.7rem;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-100);
  width: 27.144rem;
  height: 2.819rem;
}
.group-parent1,
.group-wrapper,
.parent1 {
  position: absolute;
  left: 0;
  width: 43.938rem;
}
.parent1 {
  top: 0;
  height: 9rem;
}
.group-parent1,
.group-wrapper {
  height: 28.369rem;
}
.group-parent1 {
  top: 0;
}
.group-wrapper {
  top: 3.563rem;
}
.docphone-icon,
.group-div {
  position: absolute;
  height: 35.5rem;
}
.docphone-icon {
  top: 0;
  left: 55.25rem;
  width: 21.625rem;
  object-fit: cover;
}
.group-div {
  top: 12.813rem;
  left: 1.125rem;
  width: 76.875rem;
}
.why-choose-cevah-parent {
  position: absolute;
  top: 94.938rem;
  left: 6.125rem;
  width: 78rem;
  height: 48.313rem;
  color: var(--color-darkslategray);
}
.landing-page-full-scroll-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(60, 208, 206, 0.36);
  width: 100rem;
  height: 45.688rem;
}
.what-does-cevah {
  position: absolute;
  top: 0;
  left: 2.813rem;
  letter-spacing: -0.01em;
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
  width: 21.375rem;
}
.group-child5 {
  position: absolute;
  top: 0.25rem;
  left: 0;
  background-color: var(--color-mediumturquoise-100);
  width: 1.875rem;
  height: 1.875rem;
}
.what-does-cevah-do-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 24.188rem;
  height: 2.375rem;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-100);
}
.floor-plan-3-icon {
  position: absolute;
  top: 0;
  left: 11.5rem;
  width: 6.25rem;
  height: 6.25rem;
  object-fit: cover;
}
.empowering-medical-professiona {
  position: absolute;
  top: 7.188rem;
  left: calc(50% - 230.5px);
  letter-spacing: -0.01em;
  line-height: 120%;
  display: inline-block;
  width: 28.813rem;
}
.floor-plan-3-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 28.813rem;
  height: 11.313rem;
}
.empowering-3-1-icon {
  position: absolute;
  top: 0;
  left: 11.313rem;
  width: 6.25rem;
  height: 6.25rem;
  object-fit: cover;
}
.we-offer-a {
  position: absolute;
  top: 7.188rem;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 120%;
  display: inline-block;
  width: 28.813rem;
  height: 4.438rem;
}
.empowering-3-1-parent,
.group-parent3,
.light-bulb-3-1-parent {
  position: absolute;
  top: 16.75rem;
  left: 0.188rem;
  width: 28.813rem;
  height: 11.625rem;
}
.group-parent3,
.light-bulb-3-1-parent {
  left: 37.938rem;
}
.group-parent3 {
  top: 13.688rem;
  left: 6.5rem;
  width: 66.75rem;
  height: 28.375rem;
  text-align: center;
}
.medical-masterplanning-at,
.our-platform-provides {
  position: absolute;
  letter-spacing: -0.01em;
  line-height: 120%;
  display: inline-block;
}
.medical-masterplanning-at {
  top: 3.563rem;
  left: 0.188rem;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslategray);
  width: 77.625rem;
}
.our-platform-provides {
  top: 0;
  left: 0;
  width: 28.063rem;
}
.our-platform-provides-personal-wrapper {
  position: absolute;
  top: 20.875rem;
  left: 44.813rem;
  width: 28.063rem;
  height: 4.125rem;
  text-align: center;
}
.group-parent2 {
  position: absolute;
  top: 48.438rem;
  left: 6.125rem;
  width: 77.813rem;
  height: 42.063rem;
  font-size: var(--font-size-lg);
}
.blueprint-to-breakthrough,
.turn-your-healthcare {
  position: absolute;
  top: 2.125rem;
  left: 0;
  letter-spacing: -0.01em;
  display: inline-block;
  width: 39rem;
}
.turn-your-healthcare {
  top: 14.625rem;
  font-size: var(--font-size-5xl);
  line-height: 120%;
  color: var(--color-black);
  width: 38.25rem;
}
.rectangle-button {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.get-started {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-base);
  line-height: 120%;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.arrowdownright-icon {
  position: absolute;
  top: 0.188rem;
  left: 6rem;
  width: 0.75rem;
  height: 0.75rem;
  overflow: hidden;
}
.get-started-parent,
.group-frame {
  position: absolute;
  width: 6.75rem;
  height: 1.188rem;
}
.get-started-parent {
  top: 0;
  left: 0;
}
.group-frame {
  top: 1.188rem;
  left: 2.438rem;
}
.rectangle-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 24.125rem;
  left: 0;
  width: 11.75rem;
  height: 3.5rem;
}
.docbusiness2-1-icon {
  position: absolute;
  top: 0;
  left: calc(50% + 53.5px);
  width: 35.5rem;
  height: 35.063rem;
  object-fit: cover;
}
.blueprint-to-breakthrough-parent {
  position: absolute;
  top: 5.313rem;
  left: 6.188rem;
  width: 77.688rem;
  height: 35.063rem;
  font-size: 4rem;
  color: #2b2b2b;
}
.userfocus-icon {
  position: absolute;
  top: 62.125rem;
  left: 61.875rem;
  width: 6.25rem;
  height: 6.25rem;
  overflow: hidden;
}
.desktop-82 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 236.75rem;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}

.desktop-82 {
  max-width: 1600px; 
  width: 100%;
  position: relative;
  height: auto;
  min-height: 66.625rem;
  overflow: hidden;
  text-align: left;
  padding: 1rem;
  margin: 0 auto;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
@media only screen and (max-width: 758px) {
  .desktop-82 {
    font-size: 1rem; 
    padding: 0.5rem; 
    min-height: 100vh; 
  }
} 