.ad-placeholder-icon4 {
  position: absolute;
  top: 1.125rem;
  left: 27.75rem;
  width: 56.25rem;
  height: 43.438rem;
  object-fit: cover;
}
.content-child6 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2),
    -4px -4px 20px rgba(154, 154, 154, 0.2);
  border-radius: var(--br-xl);
  background-color: var(--white);
  width: 33.125rem;
  height: 39rem;
}
.add-your-educational2,
.tell-us-about6 {
  position: absolute;
  left: 3.188rem;
  letter-spacing: -0.02em;
  line-height: 120%;
}
.tell-us-about6 {
  top: 4.5rem;
  font-weight: 600;
}
.add-your-educational2 {
  top: 7.375rem;
  font-size: var(--button-m-size);
}
.content-child7,
.content-child8 {
  border: 0;
  background-color: transparent;
  position: absolute;
  width: calc(100% - 125px);
  top: 16.563rem;
  right: 4.625rem;
  left: 3.188rem;
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray-100);
}
.content-child8 {
  top: 12rem;
  cursor: pointer;
}
.group-child17 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-darkslategray-200);
  height: 0.313rem;
}
.group-child18,
.rectangle-wrapper1 {
  position: absolute;
  width: calc(100% - 269px);
  top: 0;
}
.rectangle-wrapper1 {
  right: 16.813rem;
  left: 0;
  height: 0.313rem;
}
.group-child18 {
  right: 0;
  left: 16.813rem;
  background-color: var(--color-gainsboro-200);
  height: 0.306rem;
}
.group-parent8 {
  position: absolute;
  width: 100%;
  top: 32.438rem;
  right: 0;
  left: 0;
  height: 0.313rem;
}
.back3,
.content-child9 {
  position: absolute;
  cursor: pointer;
}
.content-child9 {
  width: calc(100% - 334px);
  top: 34.375rem;
  right: 1.438rem;
  left: 19.438rem;
}
.back3 {
  top: 35.25rem;
  left: 2.5rem;
  font-size: var(--caption-m-size);
  text-decoration: underline;
  letter-spacing: 0.02em;
  line-height: 120%;
}
.education-3-optional,
.skip1 {
  position: absolute;
  line-height: 125%;
  color: var(--color-black);
}
.education-3-optional {
  top: 10.375rem;
  left: 3.188rem;
  font-size: var(--font-size-sm);
  font-weight: 500;
}
.skip1 {
  top: 20.938rem;
  left: 26.313rem;
  font-size: var(--font-size-xs);
  text-decoration: underline;
  cursor: pointer;
}
.content11 {
  top: 1.938rem;
  left: 0;
  width: 33.125rem;
  height: 39rem;
}
.cevah14,
.content11,
.hero6 {
  position: absolute;
}
.hero6 {
  top: 5.25rem;
  left: 6rem;
  width: 84rem;
  height: 45.719rem;
}
.cevah14 {
  top: 0;
  left: 2.063rem;
  display: inline-block;
  width: 5.188rem;
  height: 2.063rem;
}
.frame-child14,
.frame-child15 {
  position: absolute;
  border-radius: var(--br-12xs);
  width: 0.525rem;
  height: 1.844rem;
}
.frame-child14 {
  top: 1.319rem;
  left: 0;
  background: linear-gradient(180deg, #3cd0ce, #5ce1df 35.89%, #95fffd);
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.frame-child15 {
  top: 0.131rem;
  left: 0.656rem;
  background: linear-gradient(90deg, #3cd0ce, #6eeae9 65.39%, #75eeed);
}
.cevah-parent5 {
  position: absolute;
  top: 3.25rem;
  left: 6rem;
  width: 7.25rem;
  height: 2.063rem;
  font-size: var(--font-size-5xl);
  font-family: var(--font-ibm-plex-sans);
}
.lorem-ipsum-dolor9 {
  position: absolute;
  top: 5.813rem;
  left: 6rem;
  display: flex;
  align-items: center;
  width: 14.25rem;
  height: 4.188rem;
}
.social-icons21,
.social-icons22,
.social-icons23 {
  position: absolute;
  top: 12.25rem;
  left: 10.813rem;
  width: 1.438rem;
  height: 1.438rem;
  overflow: hidden;
}
.social-icons22,
.social-icons23 {
  left: 8.438rem;
  width: 1.375rem;
}
.social-icons23 {
  left: 6rem;
  width: 1.438rem;
}
.contact-us7,
.support7 {
  position: absolute;
  top: 3.313rem;
  left: 25.875rem;
  font-size: var(--button-m-size);
  font-weight: 600;
}
.support7 {
  left: 39.125rem;
}
.hellocevahgmailcom7 {
  position: absolute;
  top: 0.063rem;
  left: 1.5rem;
}
.envelope-icon7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.125rem;
  height: 1.125rem;
  overflow: hidden;
}
.hellocevahgmailcom-parent5 {
  position: absolute;
  top: 7.688rem;
  left: 25.875rem;
  width: 9.688rem;
  height: 1.125rem;
  font-family: var(--font-red-hat-text);
}
.privacy-policy7,
.terms-of-use7 {
  position: absolute;
  top: 7.688rem;
  left: 39.125rem;
}
.privacy-policy7 {
  top: 9.563rem;
}
.div13 {
  position: absolute;
  top: 0;
  left: 1.5rem;
}
.vector-icon16 {
  position: absolute;
  height: 87.65%;
  width: 11.31%;
  top: 11.76%;
  right: 88.69%;
  bottom: 0.59%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parent9 {
  top: 5.813rem;
  left: 25.875rem;
  width: 7.625rem;
  height: 1.063rem;
  font-family: var(--font-red-hat-text);
}
.faqs7,
.footer7,
.parent9 {
  position: absolute;
}
.faqs7 {
  top: 5.813rem;
  left: 39.125rem;
}
.footer7 {
  top: 49.688rem;
  left: 0;
  background-color: var(--color-darkslategray-200);
  width: 100%;
  height: 16.938rem;
  font-size: var(--font-size-smi);
  color: var(--white);
}
.icon-child12,
.icon-child13 {
  position: absolute;
  border-radius: var(--br-12xs);
}
.icon-child12 {
  top: 1.188rem;
  left: 0;
  background: linear-gradient(180deg, #3cd0ce, #5ce1df 35.89%, #95fffd);
  width: 0.525rem;
  height: 1.888rem;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.icon-child13 {
  top: 0;
  left: 0.675rem;
  background: linear-gradient(90deg, #3cd0ce, #6eeae9 65.39%, #75eeed);
  width: 0.538rem;
  height: 1.844rem;
}
.cevah15,
.icon7 {
  width: 1.888rem;
  position: relative;
  height: 1.844rem;
}
.cevah15 {
  width: 5.306rem;
  display: inline-block;
  height: 2.063rem;
  flex-shrink: 0;
}
.logo7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  cursor: pointer;
}
.navigation7 {
  width: 6.356rem;
  height: 2.125rem;
}
.content12 {
  position: absolute;
  top: 1.063rem;
  left: 5.988rem;
  width: 77.988rem;
  height: 2.313rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-941xl);
}
.jd5 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
}
.login6 {
  position: absolute;
  top: 0.625rem;
  left: 81.813rem;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkturquoise);
  border: 1px solid var(--color-darkturquoise);
  box-sizing: border-box;
  width: 3rem;
  height: 3.125rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  font-size: var(--font-size-lg);
  color: var(--white);
  font-family: var(--font-inter);
}
.desktop-95,
.header6 {
  background-color: var(--white);
}
.header6 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  box-shadow: 0 4px 20px rgba(249, 249, 249, 0.25);
  width: 90rem;
  height: 4.063rem;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-ibm-plex-sans);
}
.desktop-95 {
  max-width: 1600px; /* Limit the maximum width to 1440px */
  width: 100%;
  position: relative;
  height: auto;
  min-height: 66.625rem;
  overflow: hidden;
  text-align: left;
  padding: 1rem;
  margin: 0 auto;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
