body {
  font-family: Arial, sans-serif;
}

.slider {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  top: 5rem;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  width: 100%;
  height: auto;
}

.navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
}

.navigation .prev {
  margin-left: 0rem;
}

.navigation .next {
  margin-left: 63rem;
}

.navigation button {
  background-color: #3cd0ce;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.navigation button:hover {
  background-color:#3cd0ce;
}

@media only screen and (max-width: 758px){

  .slider {
    width: 80%;
    max-width: 1200px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    top: 4rem;
  }
  .navigation .prev {
    margin-left: 0rem;
  }
  
  .navigation .next {
    margin-left: 55rem;
  }
}
