.image-slider-container {
    position: absolute; /* Position the slider absolutely within its container */
    display: flex;
    transition: transform 0.5s ease-in-out;
    top: 15rem; /* Position the slider at the top of its container */
    left: 0; /* Position the slider at the left of its container */
    width: 100%;
    border-radius: 10px; /* Make the slider fill the container width */
  }
  
  .image-slider {
    position: absolute; /* Position the slider absolutely within its container */
    display: flex;
    transition: transform 0.5s ease-in-out;
    top: 0; /* Position the slider at the top of its container */
    left: 0; /* Position the slider at the left of its container */
    width: 75%; /* Make the slider fill the container width */
  }
  
  
  .image-slider img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Make the slider fill the container width */

  }
  