.cevah {
  position: absolute;
  top: 0;
  left: 2.063rem;
  display: inline-block;
  width: 5.188rem;
  height: 2.063rem;
}
.frame-child,
.frame-item {
  position: absolute;
  border-radius: var(--br-12xs);
  width: 0.525rem;
  height: 1.844rem;
}
.frame-child {
  top: 1.319rem;
  left: 0;
  background: linear-gradient(180deg, #3cd0ce, #5ce1df 35.89%, #95fffd);
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.frame-item {
  top: 0.131rem;
  left: 0.656rem;
  background: linear-gradient(90deg, #3cd0ce, #6eeae9 65.39%, #75eeed);
}
.cevah-parent {
  position: absolute;
  top: 3.25rem;
  left: 6rem;
  width: 7.25rem;
  height: 2.063rem;
  font-size: var(--font-size-5xl);
  font-family: var(--font-ibm-plex-sans);
}
.at-cevah-our {
  position: absolute;
  top: 5.813rem;
  left: 6rem;
  font-size: var(--font-size-smi);
  line-height: 120%;
  display: flex;
  align-items: center;
  width: 14.25rem;
  height: 4.188rem;
}
.social-icons,
.vector-icon {
  position: absolute;
  overflow: hidden;
}
.vector-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.social-icons {
  text-decoration: none;
  top: 11rem;
  left: 10.813rem;
  width: 1.438rem;
  height: 1.438rem;
}
.vector-icon2,
.vector-icon3 {
  position: absolute;
  height: 51.3%;
  width: 51.3%;
  top: 24.35%;
  right: 24.35%;
  bottom: 24.35%;
  left: 24.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon3 {
  height: 12.17%;
  width: 12.17%;
  top: 17.39%;
  right: 16.96%;
  bottom: 70.43%;
  left: 70.87%;
}
.social-icons1 {
  text-decoration: none;
  top: 11rem;
  left: 8.438rem;
  width: 1.438rem;
  height: 1.438rem;
}
.social-icons1,
.social-icons2,
.vector-icon4 {
  position: absolute;
  overflow: hidden;
}
.vector-icon4 {
  height: 99.57%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0.43%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.social-icons2 {
  text-decoration: none;
  top: 11rem;
  left: 6rem;
  width: 1.438rem;
  height: 1.438rem;
}
.contact-us1,
.support {
  position: absolute;
  top: 3.313rem;
  left: 25.875rem;
  font-size: var(--font-size-base);
  font-weight: 600;
}
.support {
  left: 39.125rem;
}
.privacy-policy,
.terms-of-use {
  position: absolute;
  top: 5.813rem;
  left: 39.125rem;
}
.privacy-policy {
  top: 7.375rem;
}
.cevah9gmailcom {
  position: absolute;
  top: 0;
  left: 1.125rem;
}
.vector-icon5 {
  position: absolute;
  height: 62.94%;
  width: 9.52%;
  top: 29.41%;
  right: 90.48%;
  bottom: 7.65%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cevah9gmailcom-parent {
  position: absolute;
  top: 7.375rem;
  left: 25.875rem;
  width: 9.188rem;
  height: 1.063rem;
}
.vector-icon6 {
  position: absolute;
  height: 82.35%;
  width: 10.69%;
  top: 11.76%;
  right: 89.31%;
  bottom: 5.88%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.container {
  position: absolute;
  top: 5.813rem;
  left: 25.875rem;
  width: 8.188rem;
  height: 1.063rem;
}
.illustrations-from-storyset {
  position: absolute;
  top: 14.875rem;
  left: calc(50% - 624px);
  font-size: var(--font-size-2xs);
  display: flex;
  align-items: center;
  width: 80.313rem;
}
.footer {
  position: absolute;
  top: 49.688rem;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 90rem;
  height: 16.938rem;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}
