.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkturquoise-200);
  width: 90rem;
  height: 24.813rem;
}
.ready-to-take {
  position: absolute;
  top: 4.063rem;
  left: 6.125rem;
  letter-spacing: -0.02em;
  line-height: 120%;
  display: inline-block;
  width: 56.125rem;
}
.cevah-stands-ready {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.cevah-stands-ready-container {
  position: absolute;
  top: 8.688rem;
  left: 6.125rem;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.02em;
  line-height: 120%;
  display: inline-block;
  width: 43.375rem;
  height: 5.625rem;
}
.group-child12 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkturquoise-100);
  width: 13.25rem;
  height: 3.75rem;
}
.contact-us {
  position: absolute;
  top: 1.125rem;
  left: 3.313rem;
  letter-spacing: -0.02em;
  line-height: 120%;
}
.rectangle-parent2 {
  position: absolute;
  top: 17.25rem;
  left: 6.125rem;
  width: 13.25rem;
  height: 3.75rem;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.rectangle-parent1 {
  position: absolute;
  top: 353.688rem;
  left: 0;
  width: 90rem;
  height: 24.813rem;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
